/**
 * Plugin styles
 */
.ce-header {
  padding: 0.6em 0 3px;
  margin: 0;
  line-height: 1.25em;
  outline: none;
}

.ce-header p,
.ce-header div {
  padding: 0 !important;
  margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
  cursor: text;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
  display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
  display: none;
}

/* Custom overwrite */
.cdx-settings-button {
  width: 100% !important;
}

.ce-settings__plugin-zone {
  padding: 0 .25rem;
}

button.MuiButtonBase-root {
  opacity: 1 !important;
}

button.MuiButtonBase-root.expanded {
  opacity: 1 !important;
}

.ro-title {}

.ro-subtitle {}

.ro-text {}

.ro-author {
  font-style: italic;
}

.ro-about-author {
  font-style: italic;
}

.ro-appendix {}

.ro-photo-author {}

.ro-photo-caption {}

.ro-section {}

.ro-advertisment {}

.ro-other-graphics {}

.ro-unknown {}

.ro-table {}

.ro-continuation_ref {}

.ro-cover_clip {}

.ro-page_id {}

.ro-continuation_mark {}

.ro-follow_up_mark {}

.ro-article_termination_mark {}

.ro-page_splitting_stripe {}

.ro-column_id_stripe {}

.ro-prev_page_reference {}

.ro-section_subcategory {}

.instructions {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instructions h1 {
  color: #707684;
}