.page-selector {
  height: 100vh;
  overflow-y: scroll;
  width: 10%;
}

.pages {
  list-style: none;
  padding: 1rem;
}

.page-thumbnail {
  margin-bottom: 1rem;
  border-radius: .25rem !important;
  overflow: hidden;
  filter: grayscale(1);
  transition: transform .2s;
  opacity: .5;
}

.page-thumbnail:hover {
  box-shadow: 0 0 2rem 0 #8898aa !important;
  filter: grayscale(0);
  cursor: pointer;
  opacity: 1;
}

.page-thumbnail-is-active {
  filter: grayscale(0);
  opacity: 1;
}

.page-thumbnail img {
  width: 100%;
}

.bottom-buttons {
  background: linear-gradient(#8898aa, rgba(255, 255, 255, 0));
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
  z-index: 100;
}

.bottom-buttons button {
  margin-bottom: 1rem;
  width: 100%;
}

.page-number-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0), #8898aa);
  padding: .5rem 0;
}

.page-number {
  font-size: 1.5rem;
  font-weight: 800;
}